body{
	background-color: rgb(200,200,200);
	
}
body{
	font-size: 87.5%;
	font-family: Arial;
	line-height: 1.5;
	text-align:left;
}
a{
	text-decoration:none;
}
a:link, a:visited{	
}
a:hover, a:active{
}
.body{
	margin: 0 auto;
	width: 56%;
	clear: both;
}
.mainheader img{
	width: 100%;
	height: auto;
	margin: auto;
	margin-bottom: auto;
}
.mainheader nav{
	 font-size: 1.1em; /* 12/16 */
    width: 100%; /* 650/960 */
    max-width: 960px;
    text-align: center;
    margin: 0px auto; /*auto centers the container */
    padding: 0.1%;
	background-color: #4da6ff;
	height: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainheader nav ul{ 
    margin: 0;
    padding: 0;
    list-style-type: none;
list-style: none;
margin: auto;	
}
.mainheader nav ul li {

	display: inline-block;
	display: inLine;
}
.mainheader nav a:Link, .mainheader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
	background-color: #0073e6;
	text-shadow: none;
}
.mainheader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainn{

	background-color: #ffffff;
	margin-top: 10px;
}


.content{
	text-align: center;
}
.content a{
	margin-right: 50px;
	margin-left: 50px;
}



hr{
	margin-left:0px;
	margin-right:0px;
	
}
.footer{
	font-size: 12px;
	text-align: center;
}









